.root{
	-fx-base: #1c1c1c;
	-fx-dark-text-color: #fff;
    -fx-mid-text-color: #333;
    -fx-light-text-color: #000;
	-fx-accent: #ebebeb;
	-fx-default-button: #ebebeb;
	-fx-focus-color: -fx-default-button;
	-fx-faint-focus-color: transparent;
	

	-fx-side-background: #1c1c1c;
	-fx-main-background: #1c1c1c;
}

.bg-main .column .button:hover{
	-fx-effect: none;
}

.button:hover, .choice-box:hover{
  -fx-background-color: derive(-fx-accent, -80%);
}

.scroll-bar .thumb {
  -fx-background-color: derive(-fx-base, 20%);
}


.scroll-bar .thumb:hover {
  -fx-background-color: derive(-fx-base, 40%);
}

.bg-side{
	-fx-border-width: 0px 1px 0px 0px;
	-fx-border-color: derive(-fx-accent, -70%);
}

.bg-main .tab-box.title{
	-fx-effect: none;
}

.bg-settings .title-wrapper{
	-fx-effect: none;
	-fx-border-width: 0px 0px 1px 0px;
	-fx-border-color: derive(-fx-accent, -70%);
}