/** Padding/Margin cheatsheet **/
/** -fx-padding: TOP RIGHT BOTTON LEFT; **/

/* Import Custom Fonts */
@font-face {
  font-family: "Nexa";
  src: url("NexaBold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Nexa";
  src: url("NexaLight.otf");
  font-weight: lighter;
}


@font-face {
  font-family: "Noto Sans JP";
  src: url("NotoSansJP-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("NotoSansJP-Medium.otf");
  font-weight: medium;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("NotoSansJP-Bold.otf");
  font-weight: bold;
}


/** ROOT + REBASE **/
/** Best practices for multiple themes? Override variables here!  **/
.root{
	/** Override default Modena theme variables **/
	-fx-base: #fff;
	-fx-accent: #2f2e2e;

	-fx-dark-text-color: #2f2e2e;
    -fx-mid-text-color: #333;
    -fx-light-text-color: #fff;

	-fx-default-button: #2f2e2e;
	-fx-focus-color: #2f2e2e12; /** 7% **/
	-fx-faint-focus-color: transparent;

	-fx-accent-90: #2f2e2ee6;
	-fx-accent-80: #2f2e2ecc;
	-fx-accent-70: #2f2e2eb3;
	-fx-accent-60: #2f2e2e99;
	-fx-accent-50: #2f2e2e80;
	-fx-accent-40: #2f2e2e66;
	-fx-accent-30: #2f2e2e4d;
	-fx-accent-20: #2f2e2e33;
	-fx-accent-10: #2f2e2e1a;

	-fx-side-background: #eee;
	-fx-main-background: #fff;

	-fx-font-family: "Noto Sans JP Regular";
	-fx-font-weight: normal;
}

.label, .button, .combo-box, VBox, HBox, AnchorPane, BorderPane, FlowPane, GridPane, Pane, StackPane, TilePane{
	-fx-background-color: transparent;
	-fx-font-size: 12px;
}

*{
	-fx-text-fill: -fx-dark-text-color;
	-fx-alignment: CENTER_LEFT;
}

.tooltip{
	-fx-background-color: -fx-accent !important;
	-fx-text-fill: -fx-light-text-color !important;
	-fx-font-size: 10px !important;
	-fx-border-radius: 0px !important;
	-fx-background-radius: 0px !important;
	-fx-padding: 5px !important;
	-fx-font-family: "Noto Sans JP Regular" !important;
	-fx-effect: none;
}


/** Buttons and Forms **/
.button, .combo-box, .date-picker{
  -fx-background-color: inherit;
  -fx-padding: 4px 6px;
  -fx-font-size: 12px;
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-border-width: 0px;
  -fx-border-color: transparent;
}

.button{
  -fx-alignment: CENTER_LEFT;
  -fx-padding: 8px 10px;
  -fx-graphic-text-gap: 10px;
  -fx-background-color: transparent;
  -fx-text-fill: -fx-dark-text-color;
  -fx-fill: -fx-dark-text-color;
}

.button *{
	-fx-text-fill: -fx-dark-text-color;
	-fx-fill: -fx-dark-text-color;
}

.button.primary{
  -fx-background-color: -fx-accent;
  -fx-text-fill: -fx-light-text-color;
}

.button.primary *{
	-fx-text-fill: -fx-light-text-color;
	-fx-fill: -fx-light-text-color;
}

.button:hover, .button:focused, .combo-box:hover, .combo-box:focused, .text-field:hover, .text-field:focused, .text-area .scroll-pane:hover, .text-area .scroll-pane:focused, .date-picker:hover, .date-picker:focused{
  -fx-background-color: -fx-focus-color;
}

.button.primary:hover, .button.primary:focused{
	-fx-background-color: -fx-accent-90;
}


.text-field, .text-area, .text-area *, .date-picker{
	-fx-background-color: transparent;
	-fx-padding: 0px;
	-fx-font-size: 12px;
}

.text-field, .combo-box, .text-area, .date-picker{
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-color: -fx-accent-40;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
    -fx-alignment: left;
}

.text-field:focused, .text-area:focused, .button:focused, .combo-box:focused, .date-picker:focused{
	-fx-border-color: -fx-accent;
}

.text-area {
	/*-fx-pref-row-count: 1;*/
	-fx-min-height: 10px;
}

.text-area .scroll-pane{
	-fx-hbar-policy:never;
    -fx-vbar-policy:never; 
}

/** Scroll Bar Global Re-Styling **/
.scroll-pane, .scroll-pane .viewport {
	-fx-background-color: default;
	-fx-border-width: 0px;
}

.scroll-pane .scroll-bar{
    -fx-background-color :transparent;
	-fx-pref-width: 6px;
	-fx-pref-height: 6px;
	-fx-opacity: 0;
}

.scroll-pane:hover .scroll-bar{
	-fx-opacity: 1;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0px;
    -fx-padding: -10px -10px;
    -fx-opacity: 0%;
}

.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-opacity: 0;
    -fx-padding: 0px;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-background-color :transparent;
    -fx-shape: " ";
    -fx-padding: 0px;
}

.scroll-bar .thumb {
    -fx-background-color: -fx-accent-20;
    -fx-background-insets: 0px;
    -fx-background-radius: 50px;
    -fx-padding: 0px;
}


.scroll-bar .thumb:hover {
    -fx-background-color: -fx-accent-60;
}


/** Date Picker **/
.date-picker .text-field{
	-fx-border-width: 0px;
}
.date-picker .text-field{
	-fx-background-color: transparent;
}

.date-picker-popup {
    -fx-background-color: -fx-base;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-padding: 0px; /* 1 1 1 1 */
    -fx-effect: dropshadow(gaussian , -fx-accent-20, 10, 0, 1, 2) !important;
    -fx-max-width: 300px !important;
}

.date-picker-popup *{
	-fx-alignment: CENTER !important;
}

.date-picker-popup .month-year-pane {
	-fx-padding: 10px 14px !important;
    -fx-background-color: transparent;
}

.date-picker-popup * .spinner .button {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
    -fx-border-width: 0px !important;
	-fx-max-width: 30px !important;
	-fx-max-height: 30px !important;
	-fx-pref-width: 30px !important;
	-fx-pref-height: 30px !important;
}

.date-picker-popup * .spinner .button:hover, .date-picker-popup * .spinner .button:focused {
    -fx-background-color: -fx-focus-color;
    -fx-color: -fx-focus-color;
}

.date-picker-popup * .spinner .button .left-arrow,
.date-picker-popup * .spinner .button .right-arrow,
.date-picker-popup * .spinner .button:hover .left-arrow,
.date-picker-popup * .spinner .button:hover .right-arrow,
.date-picker-popup * .spinner .button:pressed .left-arrow,
.date-picker-popup * .spinner .button:pressed .right-arrow {
    -fx-background-color: derive(-fx-dark-text-color, 45%) !important;
}

.date-picker-popup * .spinner .left-button {
    -fx-padding: 0 0.333333em 0 0.25em !important; /* 0 4 0 3 */
}
.date-picker-popup * .spinner .right-button {
    -fx-padding: 0 0.25em 0 0.333333em !important; /* 0 3 0 4 */
}

.date-picker-popup .month-year-pane .secondary-label{
	-fx-text-fill: -fx-dark-text-color !important;
}

.date-picker-popup .calendar-grid {
    -fx-background-color: -fx-base !important;
}

.date-picker-popup * .date-cell {
    -fx-alignment: CENTER !important;
    -fx-background-color: -fx-base !important;
    -fx-text-fill: -fx-dark-text-color !important;
    -fx-font-size: 12px !important;
    -fx-padding: 7px !important;
}

.date-picker-popup * .day-name-cell,
.date-picker-popup * .week-number-cell {
    -fx-font-size: 12px !important;
    -fx-max-width: 40px !important;
    -fx-pref-width: 40px !important;
}

.date-picker-popup * .today {
    -fx-background-color: -fx-accent, -fx-base, -fx-base !important;
    -fx-background-insets: 1, 2, 3 !important;
}

.date-picker-popup * .day-cell:hover,
.date-picker-popup * .selected,
.date-picker-popup * .previous-month.selected,
.date-picker-popup * .next-month.selected,
.date-picker-popup * .previous-month:hover,
.date-picker-popup * .next-month:hover,
.date-picker-popup * .today:hover,
.date-picker-popup * .today.selected {
    -fx-background-color: -fx-accent !important;
    -fx-text-fill: -fx-light-text-color !important;
}

.date-picker-popup * .previous-month,
.date-picker-popup * .next-month {
    -fx-background: derive(-fx-base, -40%) !important;
}

.date-picker-popup * .day-cell:hover .secondary-text,
.date-picker-popup * .previous-month .secondary-text,
.date-picker-popup * .next-month .secondary-text,
.date-picker-popup * .selected .secondary-text {
    -fx-background: derive(-fx-base, -20%) !important;
}

.hide{
	visibility: false !important;
	-fx-pref-height: 0px !important;
	-fx-min-height: 0px !important;
	-fx-max-height: 0px !important;
	-fx-pref-width: 0px !important;
	-fx-max-width: 0px !important;
	-fx-min-width: 0px !important; 
}





/** Typography **/

.medium{
	-fx-font-weight: lighter;
	-fx-font-family: "Noto Sans JP Medium";
}

.bold{
	-fx-font-weight: bold;
	-fx-font-family: "Noto Sans JP Bold";
}

.h1{
	-fx-font-size: 36px;
}

.h2{
	-fx-font-size: 30px;
}

.h3{
	-fx-font-size: 24px;
}

.h4{
	-fx-font-size: 18px;
}

.h5{
	-fx-font-size: 14px;
}

.h6{
	-fx-font-size: 12px;
}


/** Side Menu Components **/
/** Name your selector starting with .bg-side **/
.bg-side{
  -fx-background-color: -fx-side-background;
}

.bg-side *{
  -fx-background-radius: 0px;
  -fx-background-color: -fx-side-background;
  -fx-max-width: 210px; /** Here to change the sidebar width **/
}


.bg-side .username{
	-fx-padding: 20px 12px 20px 12px !important;
}

.bg-side .username #username-label{
	-fx-font-size: 14px;
}

.bg-side *{
  -fx-background-color: transparent;
}

.bg-side .button .circle{
	-fx-stroke-width: 0px;
}

.bg-side:hover .scroll-bar{ /** Only show scroll bar when mouse is hover on scroll pane **/
	-fx-opacity: 1;
}

.bg-side .button{
	-fx-accent: -fx-accent;
	-fx-padding: 14px 15px 14px 22.5px;
    -fx-graphic-text-gap: 23.5px;
	-fx-border-width: 0px 0px 0px 4px;
	-fx-border-color: transparent;
	-fx-text-fill: -fx-accent;
}

.bg-side .button SVGPath{
	-fx-fill: -fx-accent;
}

.bg-side .button.selected{
	-fx-border-color: -fx-accent;
	-fx-font-family: "Noto Sans JP Bold";
	-fx-background-color: -fx-accent-10;
}



/** Board Panel Components **/

.bg-main{
  -fx-background-color: -fx-main-background;
}

.bg-main .main{
  -fx-spacing: 20px;
}


.bg-main .tab-box{
	/*-fx-padding: 8px 25px;*/
}

.bg-main .tab-box.title{
	-fx-padding: 30px 50px 15px 50px;
	-fx-background-color: -fx-base;
}

.bg-main .board-title{
	-fx-border-width: 0px;
	-fx-pref-width: 1000px;
	-fx-text-fill: -fx-accent;
}

.bg-main .board-note{
	-fx-padding: -2px 0px 0px 0px;
	-fx-border-width: 0px;
	-fx-text-fill: -fx-dark-text-color;
}

.bg-main #date-wrapper{
	-fx-padding: 12px 0px 12px 30px;
}

.bg-main .combo-box{
	-fx-min-width: 150px;
	-fx-padding: 8px 8px;
	-fx-border-radius: 0px;
	-fx-border-width: 0px;
}

.bg-main .columns{
	-fx-padding: 0px 44px;
	-fx-spacing: 16px;
}

.bg-main .column {
	-fx-max-width: 266px;
	-fx-pref-width: 266px;
	-fx-background-color: transparent;
	-fx-padding: 0px 0px 0px 0px;
}

.bg-main .column .scroll-pane VBox{
	-fx-padding: 6px;
}

/** Column Title **/
.bg-main .column HBox{
	-fx-padding: 0px 6px;
}

/** Card Spacing **/
.bg-main .column VBox{
	-fx-spacing: 8px;
}

/** Column Title Label **/
.bg-main .column .title .text-field{
	-fx-font-size: 15px;
	-fx-border-width: 0px;
	-fx-pref-width: 300px;
}

/** Column Title Total **/
.bg-main .column .title .total{
	-fx-min-width: 30px;
	-fx-max-width: 500px;
	-fx-background-color: derive(-fx-accent, 30%);
	-fx-text-fill: -fx-light-text-color;
	-fx-background-radius: 55px;
	-fx-font-size: 13px;
	-fx-padding: 0px 4px;
	-fx-alignment: CENTER;
}

.bg-main .column .scroll-pane{
	-fx-padding: 4px 0px 0px 0px;
}

.bg-main .column .scroll-pane .button{
	-fx-alignment: CENTER_LEFT;
	-fx-max-width: 246px;
	-fx-pref-width: 246px;
    -fx-border-radius: 4px;
	-fx-background-radius: 4px;
    -fx-padding: 14px 18px;
    -fx-margin: 10px;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-light-text-color;
    -fx-fill: -fx-light-text-color;
    -fx-graphic-text-gap: 12px;
    -fx-content-display: right;
    -fx-effect: dropshadow(gaussian, #00000026, 10, 0, 1, 2); /** 15% **/
}

.bg-main .column .scroll-pane .button *{
	-fx-text-fill: -fx-light-text-color;
    -fx-fill: -fx-light-text-color;
}

.bg-main .column .scroll-pane .button:hover, .bg-main .column .scroll-pane .button:focused{
    -fx-effect: dropshadow(gaussian, #00000033, 10, 0, 1, 2); /** 20% **/
}

.bg-main .column .scroll-pane .button.selected{
	-fx-effect: dropshadow(gaussian, #00000066, 10, 0, 1, 2); /** 40% **/
}

.bg-main .main .column .button:focused{
	-fx-background-color: derive(-fx-accent, -16%);
}

.bg-main .search{
	
}

.bg-main:hover .scroll-bar{
	-fx-opacity: 1;
}


/** Detail Tab **/
.bg-detail{
	-fx-background-color: -fx-side-background;
	-fx-max-width: 280px;
	-fx-min-width: 280px;
	-fx-pref-width: 280px;
	-fx-alignment: TOP_CENTER;
	-fx-padding: 35px 20px;
}

.bg-detail VBox{
	-fx-spacing: 10px;
}

.bg-detail .button, .bg-detail .date-picker{
	-fx-pref-width: 240px;
	-fx-alignment: LEFT_CENTER;
	-fx-padding: 12px 14px;
	-fx-border-width: 1.5px;
	-fx-graphic-text-gap: 10px;
	-fx-border-color: -fx-accent-40;
}

.bg-detail .button, .bg-detail .button *{
	-fx-text-fill: -fx-accent-50;
	-fx-fill: -fx-accent-50;
}

.bg-detail .button.filled, .bg-detail .button.filled *, .bg-detail .note.filled, .bg-detail .date-picker.filled{
	-fx-text-fill: -fx-accent;
	-fx-fill: -fx-accent;
	-fx-border-color: -fx-accent;
}

.bg-detail .text-area{
	-fx-text-fill: -fx-accent;
	-fx-border-width: 0px;
	-fx-pref-row-count: 4;
	-fx-padding: -4px;
}

.bg-detail .text-area .scroll-pane{
	-fx-padding: 4px;
}

.bg-detail .note{
	-fx-padding: 12px 14px;
	-fx-border-width: 1.5px;
}


/** Settings **/

.bg-settings{
	-fx-background-color: -fx-main-background;
}

.bg-settings .title{
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 8px 40px;
}

.bg-settings .title-wrapper{
	-fx-background-color: -fx-base;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-color: -fx-accent-30;
}

.bg-settings .scroll-pane .username{
	-fx-padding: 0px 0px 0px 0px;
}

.bg-settings .settings{
	-fx-alignment: TOP_LEFT;
	-fx-spacing: 25px;
	-fx-max-width: 500px;
}

.bg-settings .settings-wrapper{
	-fx-alignment: CENTER;
	-fx-padding: 20px 10px 40px 10px;
}

.bg-settings .settings HBox .label{
	-fx-pref-width: 350px;
	-fx-pref-height: 35px;
}

.bg-settings .settings VBox{
	-fx-spacing: 10px;
}

.bg-settings .availability HBox .combo-box{
	-fx-min-width: 120px;
	-fx-min-height: 35px;
}

.bg-settings .theme .combo-box{
	-fx-min-width: 200px;
}

.bg-settings .settings .copyright{
	-fx-spacing: 0px;
}

.bg-settings .account .label{
	-fx-min-width: 420px;
	-fx-padding: 0px 120px 0px 0px;
}

.bg-settings .account .button{
	-fx-min-width: 80px;
	-fx-min-height: 35px;
}