/** Padding/Margin cheatsheet **/
/** -fx-padding: TOP RIGHT BOTTON LEFT; **/

/* Import Custom Fonts */
@font-face {
  font-family: "Nexa";
  src: url("NexaBold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Nexa";
  src: url("NexaLight.otf");
  font-weight: lighter;
}


@font-face {
  font-family: "Noto Sans JP";
  src: url("NotoSansJP-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("NotoSansJP-Medium.otf");
  font-weight: medium;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("NotoSansJP-Bold.otf");
  font-weight: bold;
}


/** ROOT + REBASE **/
/** Best practices for multiple themes? Override variables here!  **/
.root{
	/** Override default Modena theme variables **/
	-fx-base: #fff;
	-fx-accent: #2f2e2e;

	-fx-dark-text-color: #2f2e2e;
    -fx-mid-text-color: #333;
    -fx-light-text-color: #fff;

	-fx-default-button: #2f2e2e;
	-fx-focus-color: #2f2e2e12; /** 7% **/
	-fx-faint-focus-color: transparent;

	-fx-accent-90: #2f2e2ee6;
	-fx-accent-80: #2f2e2ecc;
	-fx-accent-70: #2f2e2eb3;
	-fx-accent-60: #2f2e2e99;
	-fx-accent-50: #2f2e2e80;
	-fx-accent-40: #2f2e2e66;
	-fx-accent-30: #2f2e2e4d;
	-fx-accent-20: #2f2e2e33;
	-fx-accent-10: #2f2e2e1a;

	-fx-side-background: #eee;
	-fx-main-background: #fff;

	-fx-font-family: "Noto Sans JP Regular";
	-fx-font-weight: normal;
}

.label, .button, .combo-box, VBox, HBox, AnchorPane, BorderPane, FlowPane, GridPane, Pane, StackPane, TilePane{
	-fx-background-color: transparent;
	-fx-font-size: 12px;
}

*{
	-fx-text-fill: -fx-dark-text-color;
	-fx-alignment: CENTER_LEFT;
}

.tooltip{
	-fx-background-color: -fx-accent !important;
	-fx-text-fill: -fx-light-text-color !important;
	-fx-font-size: 10px !important;
	-fx-border-radius: 0px !important;
	-fx-background-radius: 0px !important;
	-fx-padding: 5px !important;
	-fx-font-family: "Noto Sans JP Regular" !important;
	-fx-effect: none;
}


/** Buttons and Forms **/
.button, .combo-box{
  -fx-background-color: inherit;
  -fx-padding: 4px 6px;
  -fx-font-size: 12px;
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
  -fx-border-width: 0px;
  -fx-border-color: transparent;
}

.button.a{
	-fx-alignment: CENTER_LEFT;
	-fx-background-color: transparent;
	-fx-text-fill: -fx-accent;
}

.button{
  -fx-alignment: CENTER;
  -fx-padding: 6px 8px;
  -fx-background-color: -fx-accent;
  -fx-text-fill: -fx-light-text-color;
}

.button.a:hover, .button.a:focused, .combo-box:hover, .combo-box:focused, .text-field:hover, .text-field:focused{
  -fx-background-color: -fx-focus-color;
}

.button:hover, .button:focused{
	-fx-background-color: -fx-accent-90;
}


.text-field{
	-fx-background-color: transparent;
	-fx-padding: 0px;
	-fx-font-size: 12px;
}

.text-field, .combo-box{
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-color: -fx-accent-40;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
    -fx-alignment: left;
}

.text-field:focused, .text-field:focused, .button:focused, .combo-box:focused{
	-fx-border-color: -fx-accent;
}


/** Scroll Bar Global Re-Styling **/
.scroll-pane, .scroll-pane .viewport {
	-fx-background-color: default;
	-fx-border-width: 0px;
}

.scroll-pane .scroll-bar{
    -fx-background-color :transparent;
	-fx-pref-width: 6px;
	-fx-pref-height: 6px;
	-fx-opacity: 0;
}

.scroll-pane:hover .scroll-bar{ /** Only show scroll bar when mouse is hover on scroll pane **/
	-fx-opacity: 1;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0px;
    -fx-padding: -10px -10px;
    -fx-opacity: 0%;
}

.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-opacity: 0;
    -fx-padding: 0px;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-background-color :transparent;
    -fx-shape: " ";
    -fx-padding: 0px;
}

.scroll-bar .thumb {
    -fx-background-color: -fx-accent-20;
    -fx-background-insets: 0px;
    -fx-background-radius: 50px;
    -fx-padding: 0px;
}


.scroll-bar .thumb:hover {
    -fx-background-color: -fx-accent-60;
}


/** For hidding the default example instance, uncomment once the models can properly render to the view **/
.example-instance, .hide{
	/*visibility: false !important;
	-fx-pref-height: 0px !important;
	-fx-min-height: 0px !important;
	-fx-max-height: 0px !important;
	-fx-pref-width: 0px !important;
	-fx-max-width: 0px !important;
	-fx-min-width: 0px !important; */
}




/** Typography **/

.medium{
	-fx-font-weight: lighter;
	-fx-font-family: "Noto Sans JP Medium";
}

.bold{
	-fx-font-weight: bold;
	-fx-font-family: "Noto Sans JP Bold";
}

.h1{
	-fx-font-size: 36px;
}

.h2{
	-fx-font-size: 30px;
}

.h3{
	-fx-font-size: 24px;
}

.h4{
	-fx-font-size: 18px;
}

.h5{
	-fx-font-size: 14px;
}

.h6{
	-fx-font-size: 12px;
}


/** Side Menu Components **/
/** Name your selector starting with .bg-side **/
.bg-side{
  -fx-background-color: -fx-side-background;
}

.bg-side *{
  -fx-background-radius: 0px;
  -fx-background-color: -fx-side-background;
  -fx-max-width: 210px; /** Here to change the sidebar width **/
}


.bg-side .username{
	-fx-padding: 20px 12px 20px 12px !important;
}

.bg-side .username #username-label{
	-fx-font-size: 14px;
}

.bg-side *{
  -fx-background-color: transparent;
}

.bg-side .button .circle{
	-fx-stroke-width: 0px;
}

.bg-side:hover .scroll-bar{ /** Only show scroll bar when mouse is hover on scroll pane **/
	-fx-opacity: 1;
}

.bg-side .button{
	-fx-specialized-accent: -fx-accent;
	-fx-padding: 14px 15px 14px 22.5px;
    -fx-graphic-text-gap: 23.5px;
	-fx-border-width: 0px 0px 0px 4px;
	-fx-border-color: transparent;
	-fx-text-fill: -fx-specialized-accent;
}

.bg-side .button SVGPath{
	-fx-fill: -fx-specialized-accent;
}

.bg-side .button.selected{
	-fx-border-color: -fx-specialized-accent;
	-fx-font-family: "Noto Sans JP Bold";
}



/** Board Panel Components **/

.bg-main{
  -fx-background-color: -fx-main-background;
}

.bg-main .main{
  -fx-spacing: 20px;
  -fx-specialized-accent: -fx-accent;
}


.bg-main .tab-box{
	/*-fx-padding: 8px 25px;*/
}

.bg-main .tab-box.title{
	-fx-padding: 30px 50px 15px;
	-fx-background-color: -fx-base;
}

.bg-main .board-title{
	-fx-border-width: 0px;
	-fx-pref-width: 1000px;
	-fx-text-fill: -fx-specialized-accent;
}

.bg-main .board-note{
	-fx-padding: -2px 0px 0px 0px;
	-fx-border-width: 0px;
}

.bg-main #date-wrapper{
	-fx-padding: 12px 0px 12px 30px;
}

.bg-main .combo-box{
	-fx-min-width: 150px;
	-fx-padding: 8px 8px;
	-fx-border-radius: 0px;
	-fx-border-width: 0px;
}

.bg-main .columns{
	-fx-padding: 0px 44px;
	-fx-spacing: 16px;
}

.bg-main .column {
	-fx-max-width: 266px;
	-fx-pref-width: 266px;
	-fx-background-color: transparent;
	-fx-padding: 0px 0px 0px 0px;
}

.bg-main .column .scroll-pane VBox{
	-fx-padding: 6px;
}

/** Column Title **/
.bg-main .column HBox{
	-fx-padding: 0px 6px;
}

/** Card Spacing **/
.bg-main .column VBox{
	-fx-spacing: 16px;
}

/** Column Title Label **/
.bg-main .column .title .text-field{
	-fx-font-size: 15px;
	-fx-border-width: 0px;
	-fx-pref-width: 300px;
}

/** Column Title Total **/
.bg-main .column .title .total{
	-fx-min-width: 30px;
	-fx-max-width: 500px;
	-fx-background-color: derive(-fx-specialized-accent, 30%);
	-fx-text-fill: -fx-light-text-color;
	-fx-background-radius: 55px;
	-fx-font-size: 13px;
	-fx-padding: 0px 4px;
	-fx-alignment: CENTER;
}

.bg-main .column .scroll-pane{
	-fx-padding: 4px 0px 0px 0px;
}

.bg-main .column .scroll-pane .button{
	-fx-alignment: CENTER_LEFT;
	-fx-max-width: 246px;
	-fx-pref-width: 246px;
    -fx-border-radius: 4px;
	-fx-background-radius: 4px;
    -fx-padding: 14px 18px;
    -fx-margin: 10px;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-color: -fx-specialized-accent;
    -fx-text-fill: -fx-light-text-color;
    -fx-fill: -fx-light-text-color;
    -fx-graphic-text-gap: 12px;
    -fx-content-display: right;
    -fx-effect: dropshadow(gaussian, #00000026, 10, 0, 1, 2); /** 15% **/
}

.bg-main .column .scroll-pane .button SVGPath{
    -fx-fill: -fx-light-text-color;
}

.bg-main .column .scroll-pane .button:hover, .bg-main .column .scroll-pane .button:focused{
    -fx-effect: dropshadow(gaussian, #00000033, 10, 0, 1, 2); /** 20% **/
}

.bg-main .main .column .button:focused{
	-fx-background-color: derive(-fx-specialized-accent, -16%);
}

.bg-main .search{
	
}

.bg-main:hover .scroll-bar{
	-fx-opacity: 1;
}


/** Detail Tab **/
.bg-detail{
	-fx-max-width: 300px;
}

.check-box{
	-fx-background-color: #fff;
	-fx-text-fill: #fff;
}

/** Settings **/

.bg-settings{
	-fx-background-color: -fx-main-background;
}

.bg-settings .title{
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 8px 40px;
}

.bg-settings .title-wrapper{
	-fx-background-color: -fx-base;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-color: -fx-accent-30;
}

.bg-settings .scroll-pane .username{
	-fx-padding: 0px 0px 0px 0px;
}

.bg-settings .settings{
	-fx-alignment: TOP_LEFT;
	-fx-spacing: 25px;
	-fx-max-width: 500px;
}

.bg-settings .settings-wrapper{
	-fx-alignment: CENTER;
	-fx-padding: 20px 10px 40px 10px;
}

.bg-settings .settings HBox .label{
	-fx-pref-width: 350px;
	-fx-pref-height: 35px;
}

.bg-settings .settings VBox{
	-fx-spacing: 10px;
}

.bg-settings .availability HBox .combo-box{
	-fx-min-width: 120px;
	-fx-min-height: 35px;
}

.bg-settings .theme .combo-box{
	-fx-min-width: 200px;
}

.bg-settings .settings .copyright{
	-fx-spacing: 0px;
}

.bg-settings .account .label{
	-fx-min-width: 420px;
	-fx-padding: 0px 120px 0px 0px;
}

.bg-settings .account .button{
	-fx-min-width: 80px;
	-fx-min-height: 35px;
}