/** Padding/Margin cheatsheet **/
/** -fx-padding: TOP RIGHT BOTTON LEFT; **/

/* Import Custom Fonts */
@font-face {
  font-family: "Nexa";
  src: url("NexaBold.otf");
}

@font-face {
  font-family: "Nexa";
  src: url("NexaLight.otf");
}


@font-face {
  font-family: "Noto Sans JP";
  src: url("NotoSansJP-Regular.otf");
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("NotoSansJP-Medium.otf");
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("NotoSansJP-Bold.otf");
}




/** ROOT + REBASE **/
/** Best practices for multiple themes? Override variables here!  **/
.root{
	/** Override default Modena theme variables **/
	-fx-base: #fff;
	-fx-accent: #2f2e2e;

	-fx-dark-text-color: #2f2e2e;
    -fx-mid-text-color: #333;
    -fx-light-text-color: #fff;

	-fx-default-button: #2f2e2e;
	-fx-focus-color: #00000012; /** 7% **/
	-fx-faint-focus-color: transparent;

	-fx-accent-90: #2f2e2ee6;
	-fx-accent-80: #2f2e2ecc;
	-fx-accent-70: #2f2e2eb3;
	-fx-accent-60: #2f2e2e99;
	-fx-accent-50: #2f2e2e80;
	-fx-accent-40: #2f2e2e66;
	-fx-accent-30: #2f2e2e4d;
	-fx-accent-20: #2f2e2e33;
	-fx-accent-10: #2f2e2e1a;
	-fx-accent-5: #2f2e2e0d;

	-fx-side-background: #eee;
	-fx-main-background: #fff;

	-fx-font-family: "Noto Sans JP Regular";
	-fx-font-weight: normal;
}

.label, .button, .combo-box, VBox, HBox, AnchorPane, BorderPane, FlowPane, GridPane, Pane, StackPane, TilePane{
	-fx-background-color: transparent;
	-fx-font-size: 12px;
}

.combo-box .combo-box-popup{
	-fx-font-family: "Noto Sans Regular";
	-fx-font-size: 12px;
}

.combo-box .combo-box-popup .list-view {
	-fx-border-width: 0;
	-fx-background-color: -fx-base;
	-fx-effect: dropshadow(gaussian , -fx-accent-20, 10, 0, 1, 2) !important;
	-fx-padding: 0;
}

.combo-box .combo-box-popup .list-view .list-cell {
    -fx-padding: 6px;
    -fx-background-color: -fx-base;
}
.combo-box .combo-box-popup .list-view .list-cell:hover,
.combo-box .combo-box-popup .list-view .list-cell:focused {
    -fx-background-color: -fx-focus-color;
}


*{
	-fx-text-fill: -fx-dark-text-color;
	-fx-alignment: CENTER_LEFT;
}

.tooltip{
	-fx-background-color: -fx-accent !important;
	-fx-text-fill: -fx-light-text-color !important;
	-fx-fill: -fx-light-text-color !important;
	-fx-font-size: 10px !important;
	-fx-border-radius: 0 !important;
	-fx-background-radius: 0 !important;
	-fx-padding: 4px 5px !important;
	-fx-font-family: "Noto Sans JP Regular" !important;
	-fx-effect: none;
}


/** Buttons and Forms **/
.button, .combo-box, .date-picker{
  -fx-background-color: inherit;
  -fx-padding: 4px 6px;
  -fx-font-size: 12px;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0;
  -fx-border-color: transparent;

}


.button{
  -fx-alignment: CENTER_LEFT;
  -fx-padding: 8px 10px;
  -fx-graphic-text-gap: 10px;
  -fx-background-color: transparent;
  -fx-text-fill: -fx-dark-text-color;
  -fx-fill: -fx-dark-text-color;
  -fx-border-width: 2px;
  -fx-border-color: transparent;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
}

.button *{
	-fx-text-fill: -fx-dark-text-color;
	-fx-fill: -fx-dark-text-color;
}

.button.primary{
  -fx-background-color: -fx-accent;
  -fx-text-fill: -fx-light-text-color;
  -fx-alignment: CENTER;
  -fx-effect: dropshadow(gaussian, -fx-accent-20, 10, 0, 1, 2);
}

.button.primary *{
	-fx-text-fill: -fx-light-text-color;
	-fx-fill: -fx-light-text-color;
}

.button.primary:hover, .button.primary:focused{
	-fx-effect: dropshadow(gaussian, -fx-focus-color, 10, 0, 1, 2);
	-fx-background-color: -fx-accent-90;
    -fx-border-color: -fx-accent-90;
}

.button:hover, .button:focused, .combo-box:hover, .combo-box:focused, .text-field:hover, .text-field:focused, .text-area:hover, .text-area:focused, .date-picker:hover, .date-picker:focused{
  -fx-background-color: -fx-focus-color;
}

.button:hover, .button:focused{
  /* -fx-border-color: -fx-focus-color; */
  -fx-border-color: transparent;
}

.text-field, .text-area, .text-area *, .date-picker{
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-font-size: 12px;
}

.text-field, .combo-box, .text-area, .date-picker{
	-fx-border-width: 0 0 2px;
	-fx-border-color: -fx-accent-40;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-alignment: CENTER_LEFT;
}

.text-field:focused, .text-area:focused, .button:focused, .combo-box:focused, .date-picker:focused{
	-fx-border-color: -fx-accent;
}

.text-area {
	/*-fx-pref-row-count: 1;*/
	-fx-min-height: 10px;
}

.text-area .scroll-pane{
	-fx-hbar-policy:never;
    -fx-vbar-policy:never;
}

.tool-bar{
	-fx-background-color: transparent;
	-fx-border-width: 0;
}

.combo-box .list-cell{
	-fx-padding: 0;
}

/** Scroll Bar Global Re-Styling **/
.scroll-pane, .scroll-pane .viewport {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-border-width: 0;
	-fx-border-radius: 0;
}

.scroll-pane .scroll-bar{
    -fx-background-color :transparent;
	-fx-pref-width: 6px;
	-fx-pref-height: 6px;
	-fx-opacity: 0;
}

.scroll-pane:hover .scroll-bar{
	-fx-opacity: 1;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0;
    -fx-padding: -10px;
    -fx-opacity: 0%;
}

.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-opacity: 0;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-background-color :transparent;
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: -fx-accent-20;
    -fx-background-insets: 0;
    -fx-background-radius: 50px;
    -fx-padding: 0;
}


.scroll-bar .thumb:hover {
    -fx-background-color: -fx-accent-60;
}

.tab-pane {
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area {
    visibility: hidden ;
}


/** Date Picker **/
.date-picker .text-field{
	-fx-border-width: 0;
}
.date-picker .text-field{
	-fx-background-color: transparent;
}

.date-picker-popup {
    -fx-background-color: -fx-base;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-padding: 0; /* 1 1 1 1 */
    -fx-effect: dropshadow(gaussian , -fx-accent-20, 10, 0, 1, 2) !important;
    -fx-max-width: 300px !important;
}

.date-picker-popup *{
	-fx-alignment: CENTER !important;
}

.date-picker-popup .month-year-pane {
	-fx-padding: 10px 14px !important;
    -fx-background-color: transparent;
}

.date-picker-popup * .spinner .button {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
    -fx-border-width: 0 !important;
	-fx-max-width: 30px !important;
	-fx-max-height: 30px !important;
	-fx-pref-width: 30px !important;
	-fx-pref-height: 30px !important;
}

.date-picker-popup * .spinner .button:hover, .date-picker-popup * .spinner .button:focused {
    -fx-background-color: -fx-focus-color;
    -fx-color: -fx-focus-color;
}

.date-picker-popup * .spinner .button .left-arrow,
.date-picker-popup * .spinner .button .right-arrow,
.date-picker-popup * .spinner .button:hover .left-arrow,
.date-picker-popup * .spinner .button:hover .right-arrow,
.date-picker-popup * .spinner .button:pressed .left-arrow,
.date-picker-popup * .spinner .button:pressed .right-arrow {
    -fx-background-color: derive(-fx-dark-text-color, 45%) !important;
}

.date-picker-popup * .spinner .left-button {
    -fx-padding: 0 0.333333em 0 0.25em !important; /* 0 4 0 3 */
}
.date-picker-popup * .spinner .right-button {
    -fx-padding: 0 0.25em 0 0.333333em !important; /* 0 3 0 4 */
}

.date-picker-popup .month-year-pane .secondary-label{
	-fx-text-fill: -fx-dark-text-color !important;
}

.date-picker-popup .calendar-grid {
    -fx-background-color: -fx-base !important;
}

.date-picker-popup * .date-cell {
    -fx-alignment: CENTER !important;
    -fx-background-color: -fx-base !important;
    -fx-text-fill: -fx-dark-text-color !important;
    -fx-font-size: 12px !important;
    -fx-padding: 7px !important;
}

.date-picker-popup * .day-name-cell,
.date-picker-popup * .week-number-cell {
    -fx-font-size: 12px !important;
    -fx-max-width: 40px !important;
    -fx-pref-width: 40px !important;
}

.date-picker-popup * .today {
    -fx-background-color: -fx-accent, -fx-base, -fx-base !important;
    -fx-background-insets: 1, 2, 3 !important;
}

.date-picker-popup * .day-cell:hover,
.date-picker-popup * .selected,
.date-picker-popup * .previous-month.selected,
.date-picker-popup * .next-month.selected,
.date-picker-popup * .previous-month:hover,
.date-picker-popup * .next-month:hover,
.date-picker-popup * .today:hover,
.date-picker-popup * .today.selected {
    -fx-background-color: -fx-accent !important;
    -fx-text-fill: -fx-light-text-color !important;
}

.date-picker-popup * .previous-month,
.date-picker-popup * .next-month {
    -fx-background: derive(-fx-base, -40%) !important;
}

.date-picker-popup * .day-cell:hover .secondary-text,
.date-picker-popup * .previous-month .secondary-text,
.date-picker-popup * .next-month .secondary-text,
.date-picker-popup * .selected .secondary-text {
    -fx-background: derive(-fx-base, -20%) !important;
}

.hide{
	visibility: false !important;
	-fx-pref-height: 0 !important;
	-fx-min-height: 0 !important;
	-fx-max-height: 0 !important;
	-fx-pref-width: 0 !important;
	-fx-max-width: 0 !important;
	-fx-min-width: 0 !important;
}

/** Typography **/

.medium{
	-fx-font-weight: lighter;
	-fx-font-family: "Noto Sans JP Medium";
}

.bold{
	-fx-font-weight: bold;
	-fx-font-family: "Noto Sans JP Bold";
}

.h1{
	-fx-font-size: 36px;
}

.h2{
	-fx-font-size: 30px;
}

.h3{
	-fx-font-size: 24px;
}

.h4{
	-fx-font-size: 18px;
}

.h5{
	-fx-font-size: 14px;
}

.h6{
	-fx-font-size: 12px;
}

.nexa-bold{
	-fx-font-family: "Nexa Bold";
}


/** Base **/
.base{
	-fx-alignment: CENTER;
}


/** Side Menu Components **/
/** Name your selector starting with .bg-side **/
.bg-side{
  -fx-background-color: -fx-side-background;
}

.bg-side *{
  -fx-background-radius: 0;
  -fx-background-color: -fx-side-background;
  -fx-max-width: 210px; /** Here to change the sidebar width **/
}


.bg-side *{
  -fx-background-color: transparent;
}

.bg-side .button .circle{
	-fx-stroke-width: 0;
}

.bg-side:hover .scroll-bar{ /** Only show scroll bar when mouse is hover on scroll pane **/
	-fx-opacity: 1;
}

/* .bg-side .scroll-pane .button, */
.bg-side .button{
	-fx-padding: 12px 20px;
    -fx-graphic-text-gap: 20px;
	-fx-border-width: 0 0 0 4px;
	-fx-border-color: transparent;
	-fx-border-radius: 0;
	-fx-text-fill: -fx-accent;
	-fx-pref-width: 1000px;
	-fx-font-family: "Noto Sans JP Medium";
}

.bg-side .button:hover{
	-fx-background-color: -fx-accent-5;
}

.bg-side .scroll-pane .button,
.bg-side .operation-list .button{
	-fx-max-height: 48px;
	-fx-min-height: 47px;
}

.bg-side .scroll-pane .button HBox,
.bg-side .operation-list .button HBox{
	-fx-max-width: 26px;
	-fx-min-width: 26px;
	-fx-alignment: CENTER;
}

.bg-side .button SVGPath{
	-fx-fill: -fx-accent;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}

.bg-side .button.selected{
	-fx-border-color: -fx-accent;
	-fx-background-color: -fx-accent-10;
}

.bg-side .scroll-pane{
	-fx-border-width: 0;
	-fx-padding: 0;
}

.bg-side .username{
	-fx-padding: 22px 15px !important;
}

.bg-side .username #username-label{
	-fx-font-size: 16px;
	-fx-font-family: "Nexa Bold";
	-fx-pref-width: 200px;
}

/** Board Panel Components **/

.bg-main{
  -fx-background-color: -fx-main-background;
}

.bg-main .main{
  -fx-spacing: 20px;
}


.bg-main .tab-box{
	/*-fx-padding: 8px 25px;*/
}

.bg-main .tab-box.title{
	-fx-padding: 30px 50px 10px;
	-fx-background-color: -fx-base;
	-fx-spacing: 10px;
}

.bg-main .board-title{
	-fx-border-width: 0;
	-fx-pref-width: 1000px;
	-fx-text-fill: -fx-accent;
	-fx-cursor: auto;
}

.bg-main .board-note{
	-fx-padding: -2px 0 0;
	-fx-border-width: 0;
	-fx-text-fill: -fx-dark-text-color;
	-fx-cursor: auto;
}

.bg-main .board-title:read-only,
.bg-main .board-note:read-only{
	-fx-cursor: default;
}

.bg-main .board-title:disabled,
.bg-main .board-note:disabled{
	-fx-opacity: 1;
	-fx-cursor: default;
}


.bg-main .combo-box{
	-fx-min-width: 150px;
	-fx-padding: 8px;
	-fx-border-radius: 0;
	-fx-border-width: 0;
}

.bg-main .tab-box.title .operation-list .button{
	-fx-min-width: 46px;
	-fx-max-width: 46px;
	-fx-min-height: 46px;
	-fx-max-height: 46px;
}

.bg-main .columns{
	-fx-padding: 0 44px;
	-fx-spacing: 16px;
}

.bg-main .column {
	-fx-max-width: 266px;
	-fx-pref-width: 266px;
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.bg-main .column .scroll-pane VBox{
	-fx-padding: 6px;
}

/** Column Title **/
.bg-main .column HBox{
	-fx-padding: 0 6px;
}

/** Card Spacing **/
.bg-main .column VBox{
	-fx-spacing: 12px;
}

.bg-main .column .title{
	-fx-spacing: 4px;
}

/** Column Title Label **/
.bg-main .column .title .text-field{
	-fx-font-size: 15px;
	-fx-border-width: 0;
	-fx-pref-width: 300px;
}

/** Column Title Total **/
.bg-main .column .title .total{
	-fx-min-width: 30px;
	-fx-max-width: 500px;
	-fx-background-color: derive(-fx-accent, 30%);
	-fx-text-fill: -fx-light-text-color;
	-fx-background-radius: 55px;
	-fx-font-size: 13px;
	-fx-padding: 0 4px;
	-fx-alignment: CENTER;
}

.bg-main .column .title .button{
	-fx-padding: 0;
	-fx-border-width: 0;
}

.bg-main .column .title .button SVGPath{
	-fx-scale-x: 0.7;
	-fx-scale-y: 0.7;
}

.bg-main .column .scroll-pane{
	-fx-padding: 4px 0 0;
}

.bg-main .column .scroll-pane.event-list .button{
	-fx-alignment: CENTER_LEFT;
	-fx-max-width: 246px;
	-fx-pref-width: 246px;
    -fx-border-radius: 4px;
	-fx-background-radius: 4px;
    -fx-padding: 14px 20px 14px 12px;
    -fx-margin: 10px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-light-text-color;
    -fx-fill: -fx-light-text-color;
    -fx-graphic-text-gap: 10px;
    -fx-content-display: LEFT;
    -fx-effect: dropshadow(gaussian, -fx-accent-20, 10, 0, 1, 2);
}

.bg-main .column .scroll-pane.event-list .button:hover{
	-fx-background-color: derive(-fx-accent, -6%);
    -fx-effect: dropshadow(gaussian, derive(-fx-accent, -6%), 10, 0, 1, 2); /** 15% **/
}

.bg-main .column .scroll-pane.event-list .button:focused{
	-fx-background-color: derive(-fx-accent, -16%);
    -fx-effect: dropshadow(gaussian, derive(-fx-accent, -16%), 10, 0, 1, 2); /** 15% **/
}

.bg-main .column .scroll-pane.event-list .button *{
	-fx-text-fill: -fx-light-text-color;
    -fx-fill: -fx-light-text-color;
}

.bg-main .column .scroll-pane.event-list .button SVGPath{
	-fx-scale-x: 0.75;
	-fx-scale-y: 0.75;
}


.bg-main .column .scroll-pane.event-list .button:hover, .bg-main .column .scroll-pane.event-list .button:focused{
    -fx-effect: dropshadow(gaussian, -fx-accent-30, 10, 0, 1, 2); /** 20% **/
}

.bg-main .column .scroll-pane.event-list .button.selected{
	-fx-effect: dropshadow(gaussian, -fx-accent-50, 10, 0, 1, 2); /** 40% **/
}

.bg-main .search{
	
}

.bg-main:hover .scroll-bar{
	-fx-opacity: 1;
}

/** Settings **/
.bg-settings{
	-fx-background-color: -fx-main-background;
}

.bg-settings .title{
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 8px 40px;
}

.bg-settings .title-wrapper{
	-fx-background-color: -fx-base;
	-fx-border-width: 0 0 2px;
	-fx-border-color: -fx-accent-30;
}

.bg-settings .scroll-pane .username{
	-fx-padding: 0;
}

.bg-settings .settings{
	-fx-alignment: TOP_LEFT;
	-fx-spacing: 25px;
	-fx-max-width: 500px;
}

.bg-settings .combo-box{
	-fx-padding: 0 10px;
	-fx-min-width: 120px;
	-fx-min-height: 35px;
}

.bg-settings .settings-wrapper{
	-fx-alignment: CENTER;
	-fx-padding: 20px 10px 40px;
}

.bg-settings .settings HBox .label{
	-fx-pref-width: 350px;
	-fx-pref-height: 35px;
}

.bg-settings .settings VBox{
	-fx-spacing: 10px;
}

.bg-settings .theme .combo-box{
	-fx-min-width: 200px;
}

.bg-settings .settings .copyright{
	-fx-spacing: 0;
}

.bg-settings .account .label{
	-fx-min-width: 420px;
	-fx-padding: 0 120px 0 0;
}

.bg-settings .account .button{
	-fx-min-width: 80px;
	-fx-min-height: 35px;
	-fx-padding: 0;
}


/** Sign In (& Sign Up) **/
.bg-signin{
	-fx-background-color: -fx-main-background;
}

.bg-signin .signin-wrapper{
	-fx-alignment: CENTER;
	-fx-padding: 30px 10px 0;
}

.bg-signin .signin-wrapper VBox{
	-fx-min-width: 350px;
	-fx-max-width: 350px;
	-fx-spacing: 0;
}

.bg-signin .text-field, .bg-signin .password-field, .bg-signin .combo-box{
	-fx-pref-width: 350px;
	-fx-padding: 0;
	-fx-min-height: 55px;
	-fx-font-family: "Nexa Bold";
	-fx-width: 8px !important;
}

.bg-signin .text-field:hover, .bg-signin .password-field:hover, .bg-signin .combo-box:hover,
.bg-signin .text-field:focused, .bg-signin .password-field:focused, .bg-signin .combo-box:focused{
	-fx-background-color: transparent;
}


.bg-signin .signin-wrapper VBox{
	-fx-spacing: 0;
}

.bg-signin .signin-wrapper Pane .label{
	-fx-max-width: 350px;
	-fx-font-family: "Noto Sans JP Light";
}

.bg-signin .operation{
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-border-color: transparent;
	-fx-padding: 0;
	-fx-alignment: CENTER_RIGHT;
}

.bg-signin .operation .button, .bg-signin .operation .combo-box{
	-fx-content-display: RIGHT;
}

.bg-signin .username{
	-fx-font-family: "Nexa Bold";
	-fx-min-height: 46px;
}

.bg-signin .error{
	-fx-padding: 4px 0;
	-fx-font-size: 11px;
	-fx-text-fill: #b30000;
}


/** Cover **/
.bg-cover{
	-fx-background-color: -fx-base;
}

.bg-cover .icon{
	-fx-scale: 4.5;
	-fx-scale-x: -fx-scale;
	-fx-scale-y: -fx-scale;
	-fx-fill: -fx-accent;
	-fx-effect: dropshadow(gaussian, -fx-accent-70, 12, 0, 0, 0);
}

/** Welcome **/

.bg-welcome{
	-fx-background-color: -fx-base;
}

.bg-welcome .welcome-wrapper{
	-fx-alignment: CENTER;
	-fx-padding: 30px 10px 0;
}

.bg-welcome .welcome-wrapper VBox{
	-fx-alignment: CENTER;
	-fx-min-width: 250px;
	-fx-max-width: 250px;
	-fx-spacing: 0;
}

.bg-welcome .welcome-wrapper HBox.logo{
	-fx-alignment: CENTER;
	-fx-spacing: 4px;
	-fx-font-family: "Nexa Bold";
	-fx-text-fill: -fx-base;
	-fx-scale-x: 2.4;
	-fx-scale-y: 2.4;
	-fx-padding: 0 8px 30px 0;
}

.bg-welcome .welcome-wrapper .operation{
	-fx-spacing: 16px;
}

.bg-welcome .welcome-wrapper .operation .button{
	-fx-pref-width: 200px;
	-fx-padding: 10px 10px 10px 0;
}

.bg-welcome .welcome-wrapper .operation .button SVGPath{
	-fx-scale-x: 0.7;
	-fx-scale-y: 0.7;
}

.bg-welcome .welcome-wrapper .operation .button HBox{
	-fx-pref-width: 30px;
	-fx-alignment: CENTER;
}

.bg-welcome .copyright{
	-fx-alignment: CENTER;
}

.bg-welcome .copyright .label{
	-fx-font-size: 12px;
	-fx-padding: 10px;
}


/** Prompt **/

.prompt-cover{
	-fx-background-color: rgba(0, 0, 0, 0.3);
	-fx-alignment: CENTER;
	-fx-padding: 30px;
}

.bg-prompt{
	-fx-background-color: -fx-base;
	-fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.2), 10, 0, 1, 2) !important;
	-fx-padding: 0;
	-fx-border-width: 0;
	-fx-max-width: 550px;
	-fx-alignment: CENTER;
}

.bg-prompt .prompt-content-wrapper{
	-fx-border-width: 0;
	-fx-spacing: 10px;
	-fx-padding: 35px 50px 50px;
}

.bg-prompt .prompt-title{
	-fx-padding: 0 -5px;
	-fx-spacing: 5px;
}

.bg-prompt .prompt-title SVGPath{
	-fx-scale-x: 0.7;
	-fx-scale-y: 0.7;
	-fx-fill: -fx-dark-text-color;
}

.bg-prompt .prompt-title .label{
	-fx-text-fill: -fx-dark-text-color;
	-fx-font-size: 12.5px;
}

.bg-prompt .prompt-title .button{
	-fx-padding: 0;
}

.bg-prompt .prompt-title .button:hover, .bg-prompt .prompt-title .button:focused{
	-fx-border-color: transparent;
}

.bg-prompt .prompt-title .button SVGPath{
	-fx-scale-x: 0.65;
	-fx-scale-y: 0.65;
	-fx-fill: -fx-dark-text-color;
}

.bg-prompt .prompt-content{
	-fx-padding: 0;
	-fx-spacing: 15px;
}

.bg-prompt .text-area{
	-fx-pref-row-count: 1;
}

.bg-prompt .text-area .content{
	-fx-padding: 10px 0;
}

.bg-prompt .text-area.title{
	-fx-border-width: 0;
	-fx-border-color: transparent;
	-fx-text-fill: -fx-accent;
	-fx-min-height: 46px;
}

.bg-prompt .field{
	-fx-spacing: 10px;
}

.bg-prompt .field .text-field, .bg-prompt .field .combo-box, .bg-prompt .field .date-picker, .bg-prompt .field .text-area{
	-fx-border-color: rgba(24, 24, 24, 0.4);
}

.bg-prompt .field .field-value{
	-fx-alignment: CENTER_RIGHT;
	-fx-text-fill: -fx-dark-text-color;
}

.bg-prompt .field .text-area.field-value{
	-fx-padding: 0;
}

.bg-prompt .field .field-value.combo-box,
.bg-prompt .field .field-value.date-picker{
	-fx-min-width: 150px;
	-fx-max-width: 150px;
}

.bg-prompt .field .field-value.date-picker .text-field{
	-fx-cursor: default;
}


.bg-prompt .field .field-name, .bg-prompt .field .field-value{
	-fx-font-size: 12.5px;
	-fx-padding: 5px 0;
}

.bg-prompt .field .combo-box .combo-box-popup .list-view {
	-fx-effect: dropshadow(gaussian , rgba(24, 24, 24, 0.2), 10, 0, 1, 2) !important;
}

.bg-prompt .field .date-picker-popup {
    -fx-effect: dropshadow(gaussian , rgba(24, 24, 24, 0.2), 10, 0, 1, 2) !important;
}