/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
    src: url('fonts');
}


#bold {
	-fx-font-family: 'Noto Sans JP';
	-fx-font-weight: bolder;
}

#medium {
	-fx-font-family: 'Noto Sans JP';
	-fx-font-weight: bold;
}

#light {
	-fx-font-family: 'Noto Sans JP';
	-fx-font-weight: normal;
}

.text-field {
  -fx-border-color: grey;
  -fx-border-width: 0 0 0 0; 
  -fx-background-color: transparent;
}

#search-text-field {
  -fx-font-family: 'Noto Sans JP';
  -fx-font-weight: normal;
  -fx-font-size: 14px;
  -fx-border-color: grey;
  -fx-border-width: 0 0 0 0; 
  -fx-background-color: transparent;
}

#text-field-u {
  -fx-border-color: #2F2E2E;
  -fx-border-width: 0 0 1 0; 
  -fx-background-color: transparent;
  -fx-font-family: 'Noto Sans JP';
  -fx-font-weight: bold;
  -fx-font-size: 12px;
}

#text-field-ub {
  -fx-border-color: #2F2E2E;
  -fx-border-width: 0 0 1 0; 
  -fx-background-color: transparent;
  -fx-font-family: 'Noto Sans JP';
  -fx-font-weight: normal;
  -fx-font-size: 12px;
}
