/* Light Mode CSS for SmartKanban */

#nexab, #nexal, #bold, #medium, #light, #black, #light-list, #light-list:hover, #bold-list, #bold-list:hover, #search-text-field {
  -fx-text-fill: #ffffff;
}



#search-icon, #icon, #chev-icon, #chev-icon:hover, #add-icon-2 {
  -fx-fill: #ffffff;
}


#bg {
  -fx-background-color: #0A0A0A;
}

#bg-i {
  -fx-background-color: #0A0A0A;
  -fx-opacity: 0.99;
}

#ln {
  -fx-stroke: #ffffff;
}

#text-field-u, #text-field-ub {
  -fx-border-color: #ffffff;
  -fx-text-fill: #ffffff;
}

#circle:hover {
  -fx-opacity: 1;
}


/* Set loginPage Style */

#loginPg-btn-1, #loginPg-btn-1:hover, #loginPg-btn-2, #loginPg-btn-2:hover, #sk-big-title {
  -fx-text-fill: #ffffff;
}

/* Set newaccPage Style */

#newacc-btn {
  -fx-text-fill: #ffffff;
}


/* Set homePage Style */

#card-bold, #card-light {
  -fx-text-fill: #ffffff;
}


/* Set Settings Style */

#sc-btn {
  -fx-fill: #0A0A0A;
  -fx-stroke: #ffffff;
}
